<div class="row">
  <div class="col-md-12">
    Hello There, <span id="user"><% @conn.params["user"] %> </span>
  </div>


  <div class="col-md-8">
    <h3>Messages:</h3>
    <ul id="messageList" class="list-unstyled">

    </ul>
    <input type="text" id="newMessage" class="form-control">
  
  </div>

  <div class="col-md-4">
    <h3>Users Online:</h3>
    <ul id="userlist" class="list-unstyled">
      <li></li>
    </ul>
  </div>
</div>